<div class="well container col-md-4">
    <div class="row">
        <div class="col-md-8">
            <h2>{{event?.name | uppercase}} </h2>
        </div>
        <div class="col-md-4">
            <i (click)="onClose()" class="glyphicon glyphicon-remove"></i>
            <a [routerLink]="['/events', event?.id]">View Details</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div>
                <strong>Date:</strong> {{event?.date | date: 'shortDate'}}</div>
            <div>
                <strong>Time:</strong> {{event?.time}}</div>
            <div>
                <strong>Price:</strong> {{event?.price | currency : 'USD' : 'symbol'}}</div>
        </div>
        <div class="col-md-6" *ngIf="event?.location">
            <address>
                <strong>Address:</strong>
                <br /> {{event?.location?.address}}
                <br /> {{event?.location?.city}}, {{event?.location?.country}}
            </address>
        </div>
    </div>

    <div class="row session-block" *ngIf="event.sessions && event.sessions.length > 0">
        <span class="sessions">Sessions</span>
        <div class="col-md-12" *ngFor="let session of event?.sessions">
            <a class="session-link" [routerLink]="['/events', event.id,'sessions', session.id]">{{session.name}}</a>
        </div>
    </div>
</div>