.container{
    min-height: 200px;
    margin-left: 50px;
}

div.container {
    animation-duration: .5s;
    animation-name: slideIn;
    animation-fill-mode: backwards;
    transition: tranform .5s ease;
}

@keyframes slideIn{
    from {
        transform: translate(200px)
    }

    to{
        transform: translate(0px)
    }
}

a {
    float: right;
}

.sessions{
    margin-left: 1px;
}

.session-link{
    float: left;
}

.session-block {
    margin-left: 0px
}

i{
    float: right;
    margin-left: 30px;
    cursor: pointer;
}