<div class="container">
    <img [src]="event?.imageUrl" [alt]="event?.name" class="event-image">

    <div class="row">
        <div class="col-md-11">
            <h2>{{event?.name | uppercase}} </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div>
                <strong>Date:</strong> {{event?.date | date: 'shortDate'}}</div>
            <div>
                <strong>Time:</strong> {{event?.time}}</div>
            <div>
                <strong>Price:</strong> ${{event?.price | currency : 'USD' : 'symbol'}}</div>
        </div>
        <div class="col-md-6" *ngIf="event?.location">
            <address>
                <strong>Address:</strong>
                <br /> {{event?.location?.address}}
                <br /> {{event?.location?.city}}, {{event?.location?.country}}
            </address>
        </div>
    </div>

    <hr>

    <ul class="nav nav-tabs">
        <li [ngClass]="{'active': tabNumber === '0'}" (click)="tabNumber = '0'">
            <a [routerLink]="['/events', event.id]">List</a>
        </li>
        <li>
            <a [ngClass]="{'active': tabNumber === '1'}" (click)="tabNumber = '1'" [routerLink]="['sessions', 'new']">Create</a>
        </li>
    </ul>
    <br>

    <router-outlet></router-outlet>
</div>